**Imports**

In [5]:
import pandas as pd
import numpy as np

**Read csv**

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/luisdurante/IA-II-algoritmo-genetico-carrinho-de-compras/master/amostra.csv', sep=';')
df.head()

           produto     valor  prioridade categoria
0             água   R$ 1.99           5   bebidas
1          cerveja   R$ 3.99           2   bebidas
2  refrigerante 2L   R$ 6.00           2   bebidas
3            vodka  R$ 30.00           1   bebidas
4            vinho  R$ 60.00           2   bebidas

**Initial population**

In [7]:
solutions_per_pop = df.shape[0] * 2
pop_size = (solutions_per_pop, df.shape[0])
print('Population size: {}'.format(pop_size))
initial_population = np.random.randint(5, size = pop_size)
initial_population = initial_population.astype(int)
print('Initial population: \n{}'.format(initial_population))

Population size: (5, 49)
Initial population:
[[1 2 0 4 1 3 1 4 1 3 2 4 2 2 4 4 3 4 0 4 3 3 3 3 0 4 0 0 2 0 4 3 0 4 2 3
  2 1 4 2 4 3 2 3 0 0 0 1 0]
 [3 0 4 3 1 0 4 1 0 1 2 4 0 2 0 4 0 1 1 1 0 4 2 1 2 1 0 3 3 0 0 0 4 0 4 3
  1 3 4 2 2 4 3 1 2 4 0 2 1]
 [0 4 0 1 1 1 2 3 0 0 3 3 2 3 0 1 4 0 3 3 1 1 2 4 0 1 0 3 1 2 2 0 0 1 0 3
  2 0 4 2 2 3 4 3 2 4 3 4 2]
 [1 3 2 3 3 1 2 1 3 0 2 4 4 3 3 0 3 2 3 1 2 1 3 0 4 3 2 4 2 4 1 4 2 1 1 4
  1 0 4 0 2 3 3 3 3 3 2 0 1]
 [4 4 4 2 0 0 2 1 0 0 0 1 3 2 4 3 2 0 3 1 1 4 4 4 1 3 3 3 1 1 1 0 0 1 3 1
  1 2 4 2 4 1 1 0 3 0 2 2 4]]

In [8]:
def cal_fitness(weight, value, population, threshold):
    fitness = np.empty(population.shape[0])
    for i in range(population.shape[0]):
        S1 = np.sum(population[i] * value)
        S2 = np.sum(population[i] * weight)
        if S2 <= threshold:
            fitness[i] = S1
        else :
            fitness[i] = 0 
    return fitness.astype(int)

(49, 4)

In [ ]:
def selection(fitness, num_parents, population):
    fitness = list(fitness)
    parents = np.empty((num_parents, population.shape[1]))
    for i in range(num_parents):
        max_fitness_idx = np.where(fitness == np.max(fitness))
        parents[i,:] = population[max_fitness_idx[0][0], :]
        fitness[max_fitness_idx[0][0]] = 999999
    return parents